<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Main</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/main.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <div class="body-dashboard">
        <div class="sidenav">
            <h3>Dashboard</h3>
            <a href="#" class="btn-signin">New Employee</a>
            <a href="#" class="btn-modify">Modify Employee</a>
            <a href="#" class="btn-deleteUser">Delete Employee</a>
            <button type="button" class="btn button btn-logout btn-exit">Logout</button>
        </div>
        <div class="content">
            <h2>Search Employee</h2>
            <div id="search-section" class="search-container">
                <input type="text" id="input-name" placeholder="Name Employee">
                <button type="button" class="button btn-search">
                    <i class="fas fa-search"></i>
                </button>
                <button type="button" class="button btn-print">
                    Print All
                </button>
                <button type="button" class="button btn-cancel">
                    Cancel
                </button>
                <div id="Tbody"></div>
            </div>
        </div>
    </div>
    <footer>
        <p>All Rights Reserved 2025 | By cserrato.dev</p>
        <p><a href="https://linktr.ee/serratomx" target="_blank">Social Media</a></p>
    </footer>
</body>
</html>